{% extends '../base.html' %}
{% block filter %}
{% load mathfilters %}
{% endblock %}
{% block css_link %}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
			<div id="guestbook">
				<form action="/guestbook/add" method="post"> {% csrf_token %}
					<input type="hidden" name="a" value="insert">
					<table>
						<tr>
							<td>Name</td><td><input type="text" name="name"></td>
							<td>Password</td><td><input type="password" name="pass"></td>
						</tr>
						<tr>
							<td colspan=4><textarea name="content" id="content"></textarea></td>
						</tr>
						<tr>
							<td colspan=4 align=right><input type="submit" VALUE=" SEND "></td>
						</tr>
					</table>
				</form>
				<ul>
					<li>
						{% for result in results %}
						<table>
							<tr>
								<td>[{{ results | length | sub:forloop.counter | add:1 }}]</td>
								<td>{{ result.name }}</td>
								<td>{{ result.reg_date }}</td>
								<td><a href="/guestbook/deleteform?no={{ result.no }}">DEL</a></td>
							</tr>
							<tr>
								<td colspan=4>{{ result.message | linebreaksbr }}</td>
							</tr>
						</table>
						<br>
						{% endfor %}
					</li>
				</ul>
			</div>
{% endblock %}