{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
				<div id="site-introduction">
					<img id="profile" src="/assets/images/blackandwhite_cat_256.webp">
					<br/>
					<br/>
					<br/>
					<h1>Hi there,<br/>
						Welcome to Dingdong's  MySite01</h1>
					<p>
						This is a example page for practice web programming.<br>
						Menu has introduce site, guestbook, board
						and includes what learning on class as python, database, web-programing<br><br>
						<a href="/guestbook">Go Guestbook</a> to leave message 🐱 <br>
					</p>
				</div>
{% endblock %}