{% extends '../base.html' %}
{% block filter %}
{% load mathfilters %}
{% endblock %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
			<div id="board">
				<form id="search_form" action="/board/search" method="post">{% csrf_token %}
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="Search"><br/><br/>
					(REMARK) Search just in title, contents and username at this moment.
				</form>
				<table class="tbl-ex">
					<tr>
						<th>No</th>
						<th>TITLE</th>
						<th>WRITER</th>
						<th>HIT</th>
						<th>WRITE DATE</th>
						<th>&nbsp;</th>
					</tr>
					{% for boardlist in boardlists %}
					<tr>
						<td>{{ count | sub:forloop.counter | add:1 }}</td>
						<td><a href="/board/view?no={{ boardlist.no }}" style="text-align:left; padding-left:{{ boardlist.depth | mul:15 }}px">{% if boardlist.depth != 0 %}<img src="/assets/images/reply.png"/> {% endif %}{{ boardlist.title }}</a></td>
						<td>{{ boardlist.name }}</td>
						<td data-model-name="hit">{{ boardlist.hit }}</td>
						<td>{{ boardlist.reg_date | date:"Y-m-d H:i:s" }}</td>
						<td>{% if request.session.authuser.no == boardlist.user_no %}<a href="/board/delete?no={{ boardlist.no }}" class="del">Delete</a>{% endif %}</td>
					</tr>
					{% endfor %}
				</table>
				
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						{% if prvpage <= 0 %}
						<li><a href="/board?p=1">◀</a></li>
						<li><a href="">...</a></li>
						{% else %}
							{% if prv2page <= 0 %}
							<li><a href="/board?p=1">◀</a></li>
							<li><a href="">...</a></li>
							<li><a href="/board?p={{ prvpage }}">{{ prvpage }}</a></li>
							{% else %}
							<li><a href="/board?p=1">◀</a></li>
							<li><a href="/board?p={{ prv2page }}">{{ prv2page }}</a></li>
							<li><a href="/board?p={{ prvpage }}">{{ prvpage }}</a></li>
							{% endif %}
						{% endif %}
						<li class="selected">{{ currpage }}</li>
						{% if nextpage > listcount %}
						<li><a href="">...</a></li>
						<li><a href="/board?p={{listcount}}">▶</a></li>
						{% else %}
							{% if next2page > listcount %}
							<li><a href="/board?p={{ nextpage }}">{{ nextpage }}</a></li>
							<li><a href="">...</a></li>
							<li><a href="/board?p={{listcount}}">▶</a></li>
							{% else %}
							<li><a href="/board?p={{ nextpage }}">{{ nextpage }}</a></li>
							<li><a href="/board?p={{ next2page }}">{{ next2page}}</a></li>
							<li><a href="/board?p={{listcount}}">▶</a></li>
							{% endif %}
						{% endif %}
					</ul>
				</div>					
				<!-- pager 추가 -->
				{% if request.session.authuser is None %}
				{% else %}
				<div class="bottom">
					<a href="/board/writeform" id="new-book">WRITE</a>
				</div>
				{% endif %}
			</div>
{% endblock %}