{% extends '../base.html' %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
			<div id="board">
				<form class="board-form" method="post" action="/board/update?no={{ results.no }}"> {% csrf_token %}
					<table class="tbl-ex">
						<tr>
							<th colspan="2">M O D I F Y</th>
						</tr>
						<tr>
							<td class="label">TITLE</td>
							<td><input type="text" name="title" value="{{ results.title }}"></td>
						</tr>
						<tr>
							<td class="label">CONTENT</td>
							<td>
								<textarea id="content" name="content">{{ results.contents}}</textarea>
							</td>
						</tr>
					</table>
					<div class="bottom">
						<a href="/board/view?no={{ results.no }}">Cancel</a>
						<input type="submit" value="Modify">
					</div>
				</form>				
			</div>
{% endblock %}