{% extends '../base.html' %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">R E A D</th>
					</tr>
					<tr>
						<td class="label">TITLE</td>
						<td>제목입니다.</td>
					</tr>
					<tr>
						<td class="label">CONTENT</td>
						<td>
							<div class="view-content">
								내용 1입니다.<br>
								내용 2입니다.<br>
								내용 3입니다.
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board">List</a>
					<a href="/board/updateform">Modify</a>
					<a href="/board/reply">Reply</a>
				</div>
			</div>
{% endblock %}